<ion-popover-view>
    <ion-header-bar class="bar bar-balanced">
        <h1 class="title">Menu Popover</h1>
    </ion-header-bar>
    <ion-content>
        <ion-list>
            <ion-item>
                Action #1
            </ion-item>
            <ion-item>
                Action #2
            </ion-item>
            <ion-item>
                Action #3
            </ion-item>
            <ion-item>
                Action #4
            </ion-item>
            <ion-item>
                Action #5
            </ion-item>
            <ion-item>
                Action #6
            </ion-item>
        </ion-list>
    </ion-content>
</ion-popover-view>