<ion-modal-view>
  <ion-header-bar class="bar-positive">
    <h1 class="title">Edit Playlist</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeEdit()">Close</button>
    </div>
  </ion-header-bar>
  
  <ion-content padding="true">
    <form class="simple form" ng-submit="doSaveEdit()">
        <div class="list">
            <label class="item item-input">
                <span class="input-label">Id:</span> 
                {{playlistId}}
            </label>
            <span ng-if="recordFound">
                <label class="item item-input">
                    <span class="input-label">Title:</span> 
                    <input type="text" ng-model="formData.title" required>
                </label>
                <label class="item item-input">
                    <span class="input-label">Description:</span> 
                    <input type="text" ng-model="formData.description">
                </label>
                <label>&nbsp;</label>
                <div class="button-bar">
                    <button class="button button-energized" type="button" ng-click="reset()">Reset</button>
                    <button class="button button-balanced" type="submit">Save</button>
                </div>
            </span>
            </div>
    </form>
  </ion-content>
</ion-modal-view>