<ion-view view-title="Playlist">
    <ion-nav-bar class="bar-assertive">
      <ion-nav-back-button>
      </ion-nav-back-button>
    
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
      
      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-android-more-vertical" ng-click="showPopover($event)">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
  
  <ion-content padding="true">
    <h1>Playlist</h1>
    <div class="list">
    <label class="item item-input">
        <span class="input-label">Id:</span> 
        {{playlistId}}
    </label>
        <span ng-if="recordFound">
    <my-playlist></my-playlist>
    <label class="item">
      <button class="button button-block button-positive" type="submit" ng-click="showEdit()">Edit</button>
    </label>
        </span>
    </div>
    
    <div class="list" ng-controller="PlaylistDialogCtrl as dialogCtrl">
    <a href clicking callfunc1="dialogCtrl.hideDialog('closing via clicking')">
        Click on me for some fun!
    </a>
    <label class="item">
    <span entering callfunc1="dialogCtrl.hideDialog('closing via mouseenter')">
        Hover over me for some fun!
    </span>
    </label>
    <label class="item item-input">
        <span class="input-label" >
        {{dialogCtrl.message}} 
        <span my-dialog ng-hide="dialogCtrl.dialogIsHidden">
            Check out the contents, {{dialogCtrl.dialogName}}!
        </span>
        </span>
    </label>
    <label class="item item-input">
        <span class="input-label">Date format: </span> 
        <input ng-model="dialogCtrl.format">
    </label>
    <label class="item item-input">
        <span class="input-label">Current time is: </span> 
        <span my-current-time="dialogCtrl.format"></span>
    </label>
    </div>
    
  </ion-content>
</ion-view>
