<ion-view view-title="Playlist">
    <ion-nav-bar class="bar-assertive">
      <ion-nav-back-button>
      </ion-nav-back-button>
    
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
      
      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-android-more-vertical" ng-click="showPopover($event)">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
  
  <ion-content padding="true">
    <h1>Playlist</h1>
    <div class="list">
    <label class="item item-input">
        <span class="input-label">Id:</span> 
        {{playlistId}}
    </label>
        <span ng-if="recordFound">
    <label class="item item-input">
        <span class="input-label">Title:</span> 
        {{playlist.title}}
    </label>
    <label class="item item-input">
        <span class="input-label">Description:</span> 
        {{playlist.description}}
    </label>
    <label class="item item-input">
        <span class="input-label">Last Updated:</span> 
        {{playlist.lastUpdated | date:'yyyy-MM-dd HH:mm:ss'}}
    </label>
    <label class="item">
      <button class="button button-block button-positive" type="submit" ng-click="showEdit()">Edit</button>
    </label>
        </span>
    </div>
  </ion-content>
</ion-view>
