<ion-view view-title="Playlists">
    <ion-nav-bar class="bar-assertive">
      <ion-nav-back-button>
      </ion-nav-back-button>
    
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
      
      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-android-more-vertical" ng-click="showPopover($event)">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>

  <ion-content>
<!--     <div class="list list-inset"> -->
<!--         <label class="item item-input"> -->
<!--           <input type="text" ng-model="search.title" placeholder="Search Title"> -->
<!--         </label> -->
<!--     </div> -->
    <ion-list>
      <ion-item class="item item-button-right" ng-repeat="playlist in playlists | filter: search | orderBy: 'title': reverse" >
        {{playlist.title}}
        <div class="buttons">
            <button class="button button-energized" ng-click="viewDetail({{playlist.id}})">
                <i class="icon ion-document-text"></i>
            </button>
            <button class="button button-assertive" ng-click="confirmDelete({{playlist.id}}, '{{playlist.title}}')">
                <i class="icon ion-trash-a"></i>
            </button>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
